@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face{font-family:'Poppins';src:url(Poppins-Light.woff2) format("woff2"),url(Poppins-Light.woff) format("woff");font-weight:300;font-style:normal}
@font-face{font-family:'Poppins';src:url(fonts/Poppins-Bold.woff2) format("woff2"),url(fonts/Poppins-Bold.woff) format("woff");font-weight:700;font-style:normal}
@font-face{font-family:'Poppins';src:url(fonts/Poppins-Regular.woff2) format("woff2"),url(fonts/Poppins-Regular.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'Poppins';src:url(fonts/Poppins-ExtraBold.woff2) format("woff2"),url(fonts/Poppins-ExtraBold.woff) format("woff");font-weight:800;font-style:normal}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Poppins"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1583px;width: 100%;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

/*button*/
.btn {font-family: "Poppins"; font-size: 13px; font-weight: 400; color: #FFF; letter-spacing: 3px; display: inline-block; padding: 27.5px 74.3px; background: #42B72A; border-radius: 100px;border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #000;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {max-width: 740px; margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 45px;font-weight: 700; color: #FFFFFF;}
h2 {font-size: 45px;font-weight: 700; color: #000000;}
h5 {font-family: "Poppins"; font-weight: 800; font-size: 25px; color: #000000;}
/*header*/
#header {background: none;padding: 13px 0 8px}
#header .row{max-width: 1402px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 37px 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Poppins"; font-weight: 700; font-size: 15px; color: #333333;margin: 0 45px;position: relative;}
#header nav ul li:first-child a{margin: 0 45px 0 0;}
#header nav ul li:last-child a{margin: 0 0 0 45px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#42B72A;}
#header nav ul li.active-menu a::before , #header nav ul li a:hover::before{content: "";position: absolute;top: -15px;left: 50%;transform: translateX(-50%);width: 0;height: 0;border: 0 solid transparent;border-left-width: 7.5px;border-right-width: 7.5px;border-top: 8px solid #42B72A;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center bottom; background-size: cover;padding: 260px 0 1px}
#banner .row:first-child{max-width: 1402px; text-align: left}
#banner .row:first-child h1{font-family: "Poppins"; font-weight: 700; font-size: 40px; color: #FFF;line-height: 40px;}
#banner .row:first-child h1 span{display: block;}
#banner .row:first-child p{font-family: "Poppins"; font-weight: 700; font-size: 15px; color: #FFF; letter-spacing: 2.5px;margin: 40px auto;}
#banner .container{position: relative;margin-top: 114px; background: url(../images/common/bgBanCon.jpg)no-repeat center top; background-size: 100% 100%; padding: 84px 80px 429px;margin-bottom: -272px;}
#banner .container h1{font-family: "Poppins"; font-weight: 700; font-size: 54px; line-height: 58px; color: #ffffff;}
#banner .container h1 span{display: block;font-size: 48px}
#banner .container p{color: #FFF;max-width: 1269px; margin: 50px auto;font-size: 20px}
#banner .container img.paint{position: absolute;bottom: 155px;left: -30px;max-width: 512px;width: 33%;}
/*content*/
/* top service */
#topService{position: relative;padding: 1px 0 1px;margin-top: 232px;z-index: 1}
#topService dl{max-width: 545px; width: 100%;display: inline-block;vertical-align: top;margin: 0 40px}
#topService dl dd{padding: 20px 38px;margin: 0;}
#topService dl dd p{font-size: 20px; color: #333333; line-height: 28px; margin: 30px 0 40px;}
/* bottom service */
#botService{padding: 100px 0 1px;}
#botService .container{margin-top: 20px;}
#botService .container dl{max-width: 449px; width: 100%; display: inline-block;vertical-align: top;margin: 20px;}
#botService .container dl dd{margin: 0;padding: 20px 0;}
/* review */
#review{position: relative;background: url(../images/common/bgReview.jpg)no-repeat center top; background-size: 100% 100%; padding: 470px 0 566px;}
#review h2{color: #FFFFFF;}
#review img.tools{position: absolute;top: 20px;right: 43px;max-width: 617px; width: 33%;}
#review .container{margin-top: 20px;}
#review .container dl{max-width: 462px; width: 100%;display: inline-block;vertical-align: top;margin: 20px 30px;}
#review .container dl dt{font-size: 24px; color: #FFBF00;}
#review .container dl dd{font-size: 18px; color: #FFFFFF;line-height: 28px; margin: 0 auto;font-style: italic;padding: 20px 0;}
/* why choose us */
#why{position: relative;padding: 1px 0 20px;margin-top: -140px;}
#why .tree{position: absolute;bottom: 80%;left: 20px;max-width: 679px; width: 35%;}
#why .container{margin: 40px auto;}
#why .container dl{width:33%;display: inline-block; vertical-align: top;}
#why .container dl dd{margin: 0 auto;font-weight: 800; font-size: 25px; color: #333333;padding: 20px 0;}
/* gallery */
#gallery{padding: 40px 0 40px;}
#gallery .container{margin-top: 40px;}
#gallery img{margin: 20px;max-width: 290px; width: 21%;}
/* contact */
#contact {padding: 0 0 1px;margin-bottom: -470px;}
#contact h2{color: #FFFFFF;margin-bottom: 20px;}
#contact .row{background: url(../images/common/bgContact.jpg)no-repeat center top; background-size: 100% 100%; padding: 40px 0 544px;}
#contact form{max-width: 1240px; width: 95%; margin: 0 auto;text-align: left;color: #FFFFFF;}
#contact form input[type="text"], #contact form textarea{max-width: 590px; width: 95%;margin: 10px auto;}
#contact form textarea{min-height: 414px}
#contact .g-recaptcha{width: 50%;display: inline-block;vertical-align: middle;margin: 0 40px 0 10px;}
#contact .btn{display: inline-block;vertical-align: middle;}
/*footer*/
#footer {position: relative;background: none;padding: 40px 0;z-index: 99}
.footTop .bg-phone{background: url(../images/common/css-sprite.png)no-repeat 0 0; width: 33px; height:33px;}
.footTop .bg-location{background: url(../images/common/css-sprite.png)no-repeat -59px 0; width: 27px; height:33px;}
.footTop .bg-email{background: url(../images/common/css-sprite.png)no-repeat -114px -4px; width: 33px; height:25px;}
.footTop .container{margin-top: 40px;}
.footTop .container dl{display: inline-block; vertical-align: top;width: 20%;}
.footTop .container dl:nth-child(2){width: 34%;}
.footTop .container dl dd{padding: 10px 0;margin: 0;font-size: 16px; color: #000000;}
.footTop .container dl:nth-child(1) dd{font-weight: 700}
.footBot {margin-top: 40px;}
.footBot ul{padding: 0;margin: 0;}
.footBot ul li{display: inline-block;vertical-align: middle;border-right: 2px solid #333333;padding: 0 5px 0 0;line-height: 15px}
.footBot ul li a{font-weight: 700; font-size: 18px; color: #333333;}
.footBot ul li:last-child{border-right: none}
.footBot ul li.active-menu a, .footBot ul li a:hover{color: #41B72A}
.footBot .silver, .footBot .copy{font-weight: 300; font-size: 13px; color: #333333;}
#footer img.footTree{position: absolute;bottom: 0;right: 20px; max-width: 339px;width: 21%;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {position: relative;min-height: 400px;padding: 100px 0; z-index: 99}
.inner #content h1{color: #42B72A;}
.inner #content p{font-size: 20px;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1574px){
  #review .container dl{width: 27%;}
  #footer img.footTree{width: 17%;}
}
@media screen and (max-width: 1450px){
  #header nav ul li a{margin: 0 30px;}
  #header nav ul li:last-child a{margin: 0 0 0 30px}
  #topService dl {width: 38%;}
  #topService dl dt img{max-width: 545px; width: 100%;}
  #topService dl dd{padding: 20px 0;}
  #botService .container dl{width: 29%;}
  #botService .container dl dt img{max-width: 449px; width: 100%;}
  #footer img.footTree{width: 15%;}

  .row{width: 95%;}
}
/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
